<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Form</div>
            <div class="panel-body">
                <% include ./../../../elements/error %>
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="<%= systemConfig.prefixAdmin %>/tables/submit" method="POST">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" name="name" value="<%- item.name%>"/>
                            </div>
                            <div class="form-group">
                                <label>Ordering</label>
                                <input class="form-control" type="number" name="ordering" value="<%- item.ordering%>"/>
                            </div>
                            <div class="form-group">
                                <label>Slug</label>
                                <input class="form-control" type="text" name="slug" value="<%- item.slug%>"/>
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select name="status" class="form-control">
                                    <option value="novalue">Choose Status</option>
                                    <option value="active" <%- (item.status == "active") ? 'selected="selected"':""%> >Active</option>
                                    <option value="inactive" <%- (item.status == "inactive") ? 'selected="selected"':""%> >Inactive</option>
                                </select>
                            </div>
                            <input class="form-control" name="id" value="<%- item.id%>" type="hidden" />
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a type="button" href="admin123/item/" class="btn btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const nameInput = document.querySelector('input[name="name"]')
    const slugInput = document.querySelector('input[name="slug"]')
    nameInput.addEventListener('keyup',(e)=>{
        value = e.target.value
        newValue = value.replace(/ /g,'-')
        slugInput.value = newValue
    })
</script>